* {
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  float: left;
  min-width: 100%;
  margin: 0;
  padding-top: 4em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.87); }

.columns {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.column {
  display: block; }

iframe {
  width: 320px; }

.tabs {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  display: -ms-flexbox;
  display: flex;
  min-height: 2em;
  font-weight: 300;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white; }

.tabs a {
  padding: 1em;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.87); }

.tabs a:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid black;
  color: black; }

.tabs a.active {
  margin-bottom: -1px;
  border-bottom: 1px solid #ff0095;
  color: #ff0095; }

.message {
  width: 400px;
  box-shadow: 0px 0px 0px 1px rgba(255, 0, 149, 0.3);
  color: rgba(255, 0, 149, 0.9);
  position: relative;
  min-height: 1em;
  margin: 1em 0em;
  background: rgba(255, 0, 149, 0.06);
  padding: 1em 1.5em;
  line-height: 1.4em;
  border-radius: 5px; }

ul {
  padding: 0;
  list-style-position: inside; }

.container {
  padding: 0 2em;
  margin: 0 auto; }
