* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    font-family: Helvetica, Arial, 'Trebuchet MS', sans-serif;
    margin: 0;
}

body {
    display: inline-block;
}

.columns {
    display: flex;
    flex-direction: row;
}

.column {
    display: block;
    margin-left: 1em;
}

.column:last-child {
    padding-right: 1em;
}

.tabs {
    border-bottom: 2px solid rgba(34, 36, 38, .15);
    display: flex;
    margin: 0.5rem 0;
    min-height: 2em;
    font-weight: 400;
}

.tabs a {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    align-self: flex-end;
    margin: 0 0 -2px;
    padding: 1em;
    border-bottom-width: 2px;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    flex: 0 0 auto;
}

.tabs a:active {
    background-color: transparent;
    border-color: rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .95);
}

.tabs a.active {
    border-color: #1B1C1D;
    font-weight: 700;
    color: rgba(0, 0, 0, .95);
}

/*.tabs:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}*/