* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    float: left;
    min-width: 100%;
    margin: 0;
    padding-top: 4em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, .87);
}

.columns {
    display: inline-flex;
    flex-direction: row;
}

.column {
    display: block;
}

iframe {
    width: 320px;
}

.tabs {
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    display: flex;
    min-height: 3em;
    font-weight: 300;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
}

.tabs a {
    padding: 0 1em;
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    display: flex;
    align-items: center;
    justify-content: center;
}

$primary: rgba(255, 0, 149, 1);
$hover: rgba(0, 0, 0, 1);

.tabs a:hover {
    margin-bottom: -1px;
    border-bottom: 1px solid $hover;
    color: $hover;
    svg {
        fill: $hover;
    }
}

.tabs a.active {
    margin-bottom: -1px;
    border-bottom: 1px solid $primary;
    // font-weight: 400;
    color: $primary;
    svg {
        fill: $primary;
    }
}

.tabs .github {
    margin-left: auto;
    svg {
        width: 22px;
        fill: black;
        margin-right: 0.5em;
    }
}

.message {
    width: 400px;
    box-shadow: 0px 0px 0px 1px transparentize($primary, 0.7);
    color: transparentize($primary, 0.1);
    position: relative;
    min-height: 1em;
    margin: 1em 0em;
    background: transparentize($primary, 0.94);
    padding: 1em 1.5em;
    line-height: 1.4em;
    border-radius: 5px;
}

ul {
    padding: 0;
}

.container {
    padding: 0 2em;
    width: 100%;
}