<div class="tabs">
    <a {{#if forms}}class="active"{{/if}} href="../forms">Forms</a>
    <a {{#if containers}}class="active"{{/if}} href="../containers">Containers</a>
    <a {{#if components}}class="active"{{/if}} href="../components">Components</a>
    <a {{#if menus}}class="active"{{/if}} href="../menus">Menus</a>
</div>