<div class="tabs">
    <a {{#if forms}}class="active"{{/if}} href="index.html">Forms</a>
    <a {{#if containers}}class="active"{{/if}} href="containers.html">Containers</a>
    <a {{#if components}}class="active"{{/if}} href="components.html">Components</a>
    <a {{#if menus}}class="active"{{/if}} href="menus.html">Menus</a>
</div>